h1 {
	color: red;
	text-align:center;
	font-weight:bold;
	font-size: 65px;
	font-family: 'Indie Flower', cursive;
}
h2 {
	color:red;
	font-weight: bold;
	font-size: 45px;
	font-family: sans-serif;
}
body {
	text-align: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("https://wallpaperscraft.com/image/skulls_neon_color_white_dark_43496_1366x768.jpg");
	background-attachment: fixed;
	}
span.line{
	color:black;
}
p {
	color:yellow;
	
}
a:link {
	color: red;
	font-weight: bold;
	}
a:visited {
	color: white;
	font-weight:bold;
}
div.placeholder {
	border-radius:75px;
	padding-top: 5px;
	width: 340px;
	height: 305px;
	border: 10px solid green;
	background-color:green;
	margin-left: auto;
	margin-right: auto;
}