h1 {
	color: red;
	text-align:center;
}
body {
	text-align: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("http://www.pageresource.com/wallpapers/wallpaper/fantasy-dragon-dragons_1631665.jpg")
}
span.title {
	font-size: 56px;
	font-weight: bold;
}