h1{
	text-align: center; 
	color: red;
	font-size: 45px;
	text-decoration:underline;
	font-family:sans-serif;

}
h2{
	color:red; 
	font-size: 30px;
	margin-left:50px;
	font-family: sans-serif;

}
h3{
	color:black;
	margin-left:50px;
	font-size:20px;
	font-family: sans-serif;
}
body {
	width:800px;
	margin-left: auto;
	margin-right:auto;
}
div{
	text-align:center; 
	font-family: sans-serif;
}
em{
	color:red;
	font-family: sans-serif;
}
p{
	font-size: 16px; 
	font-family: sans-serif;
	margin-left:50px;
}
ol{
	margin-left:50px;
	font-family: sans-serif;
}
ul{
	margin-left:35px;
	font-family: sans-serif;
}
hr{
border-width:6px;
border-color:red;
}
span.bullet{
	font-size:40px;
	color:red
}
